@font-face {
    font-family: 'MADE Canvas';
    src: url('MADECanvas-Black.woff2') format('woff2'),
        url('MADECanvas-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Canvas';
    src: url('MADECanvas-Light.woff2') format('woff2'),
        url('MADECanvas-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Canvas';
    src: url('MADECanvas.woff2') format('woff2'),
        url('MADECanvas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
