$site-width: 1200;

// $font--main: "Satoshi-Regular";
// $font--bold: "Satoshi-Bold";
// $font--medium: "Satoshi-Medium";


$color--body-copy: #242d3f;

$color--white: #ffffff;
$color--black: #000000;
$color--1:#ffbfbf ;
$color--2:#576665 ;

$baseFontSize: 16;
$linkFontSize:13;